<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= discover_page_title %></title>

    <%= stylesheet_link_tag "/themes/monstas/stylesheets/monstas" %>
    <%= javascript_include_tag "/themes/monstas/javascripts/modernizr" %>
  </head>

  <body>
    <div id="content">
      <nav class="page-nav">
        <%= previous_link(data.tree) %>
      </nav>

      <aside class="toc">
        <nav>
          <ul>
            <%= tree_to_html(data.tree) %>
          </ul>
        </nav>
      </aside>

      <main>
        <%= yield %>
      </main>

      <nav class="page-nav">
        <%= next_link(data.tree) %>
      </nav>
    </div>

    <!-- <footer class="page-footer"> -->
    <!--   <div class="footer-wrapper"> -->
    <!--     <p>By <a href="https://github.com/rubymonsters">Ruby Monstas</a></p> -->
    <!--   </div> -->
    <!-- </footer> -->

    <%= javascript_include_tag "/themes/monstas/javascripts/anchor.min" %>
    <%= javascript_include_tag "/themes/monstas/javascripts/monstas" %>
  </body>
</html>
